<h1 class="mt-4">Livros</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
    <form #livroForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Livro salvo com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                </div>
            </div>
        </div>
        <div class="row" *ngIf="livro.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true" name="id" [ngModel]="livro.id"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data de cadastro:</label>
                    <input type="date" class="form-control" disabled="true" name="dataCadastro" [ngModel]="livro.dataCadastro"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Título: *</label>
                    <input type="text" class="form-control" name="titulo" [(ngModel)]="livro.titulo"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Autor: *</label>
                    <input type="text" class="form-control" name="autor" [(ngModel)]="livro.autor"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição: *</label>
                    <textarea type="text" class="form-control" name="descricao" [(ngModel)]="livro.descricao" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </div>
        <br>
    </form>
</div>
